#image3{
    
    background-image: url("../images/15.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 965px;
    height: 149px;
    left: 497px;
}

#primera{
    left: 600px;
    top: 800px;
}

#image2{
    
    background-image: url("../images/17.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 464px;
    height: 160px;
    left: 0px;
}

#image3{
    
    background-image: url("../images/4.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 320px;
    height: 180px;
    left: 15px;
}

#image4{
    
    background-image: url("../images/5.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 320px;
    height: 180px;
    left: 40px;
}

#image5{
    
    background-image: url("../images/6.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 299px;
    height: 250px;
    left: 67px;
}

#image6{
    
    background-image: url("../images/7.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 320px;
    height: 180px;
    left: 17px;
}


#image7{
    
    background-image: url("../images/8.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 320px;
    height: 180px;
    left: 35px;
}

#image8{
    
    background-image: url("../images/9.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 315px;
    height: 177px;
    left: 52px;
}

#image9{
    
    background-image: url("../images/10.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 316px;
    height: 100px;
    left: 17px;
}

#image10{
    
    background-image: url("../images/12.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 316px;
    height: 100px;
    left: 40px;
}

#image11{
    
    background-image: url("../images/14.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 316px;
    height: 100px;
    left: 62px;
}

#image12{
    
    background-image: url("../images/19.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 482px;
    height: 417px;
    left: 17px;
}


#image13{
    
    background-image: url("../images/1.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 495px;
    height: 95px;
    left: 17px;
}

#image14{
    
    background-image: url("../images/2.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 495px;
    height: 95px;
    left: 17px;
}

